      <h2 class="section_header main">Krondor Krew</h2>
      <div class="main">
        <p>...is the code name for Floridas daring, highly trained special hip-hop ninjas force. Their purpose, to dispense lyrical ninjitsu against pirates, zombies, wizards and whack emcees. Showing every audience that the only true way is the way of the Ninja, promoting the declaration of ninjapendence and the pursuit of ninjaness.</p>
      </div>