      <h2 class="section_header ninja_info">Ninja Masters</h2>
      <!--NINJAS-->
      <div class="ninja_info">
        <h3><%= @shin.name %></h3>
        <p><span class="shin" alt="Shinobi profile pic"></span><%= @shin.description %></p>
      </div>
      <div class="ninja_info">
        <h3><%= @masu.name %></h3>
        <p><span class="masu" alt="Masurao profile pic"></span><%= @masu.description %></p>
      </div>